#cart-body {
    font-size: 14px;
}

#body {
    padding: 5vh 5vw;
    min-height: 100vh;
}

.modal .btn {
    width: 45%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
}

/* Modal Content/Box */
.modal .modal-content {
    padding: 1.5em;
    text-align: center;
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button (x) */
.modal .close {
    position: absolute;
    right: 100px;
    top: 150px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.modal .close:hover, #confirmClean .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .modal .cancelbtn, #confirmClean .deletebtn {
        width: 100%;
    }
}