img {
    max-width: 100%;
}

/*---------------------------Body ------------------------*/
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-bottom: 8px;
    border: 1px solid black;
}
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:hover {
    border: 2px solid orange;
    cursor: pointer;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    margin-top: 10px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.product-title, .price, .quantity{
    text-transform: UPPERCASE;
    font-weight: bold; }

.price span {
    color: #ff9f1a;
}

.count-input {
    display: flex;
    align-items: center;
}

.add-to-cart{
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    transition: background .3s ease;
}

.add-to-cart:hover{
    background: #b36800;
    color: #fff;
}